{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
    <div class="mt-4 container">
        <h1>Gérer les biens</h1>
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                    <tr>
                        <th>{{ property.title }}</th>
                        <th><a href="{{path('admin.property.edit', {{ property.id }} ) }}" class="btn btn-secondary">Editer</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
