{% extends 'base.html.twig' %}
{% block title 'Voir tous nos bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos bien</h1>
        <p>lorem ipsum</p>
    </div>
{% endblock %}
